<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">
      OnCep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title" size="large">OnCep</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input
      label="CEP"
      label-placement="floating"
      fill="solid"
      placeholder="Insira o CEP"
      [(ngModel)]="valor"
      (ionInput)="onInputChange($event)">
    </ion-input>

    <ion-button (click)="searchCep()" expand="block">Pesquisar</ion-button>

    <h4>CEPS para TESTE</h4>
    <div class="ceps-teste">
      <ion-button shape="round" (click)="setTestCep('01531001')">CEP Da FIAP</ion-button>
      <ion-button shape="round" (click)="setTestCep('04010100')">CEP Do Metrô Ana Rosa</ion-button>
      <ion-button shape="round" (click)="setTestCep('02049000')">CEP Do Shopping Center Norte</ion-button>
    </div>

    <ion-loading
      #loading
      message="Procurando o Resultado..."
      [duration]="1000"
      (didDismiss)="onLoadingDismiss()">
    </ion-loading>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="exit()">Sair</ion-button>
            </ion-buttons>
            <ion-title>Resultado</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-label>Logradouro</ion-label>
              <ion-text>{{ Logradouro }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Bairro</ion-label>
              <ion-text>{{ Bairro }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Cidade</ion-label>
              <ion-text>{{ Cidade }}</ion-text>
            </ion-item>
            <ion-item>
              <ion-label>Estado</ion-label>
              <ion-text>{{ Estado }}</ion-text>
            </ion-item>
          </ion-list>
          <div class="area-gif">
            <div class="gif-container">
              <img [src]="randomGif" alt="Random GIF" class="random-gif">
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
